@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html {
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #2B2739;
  height: 100%;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
 

}
.container {
  max-width: 1920px;
  padding: 0;
  margin: 0;
 
}

header{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #242031;
  align-items: center;
  color: #9287BC;
  padding: 24px;
  text-align: center;
  align-content: center;
  
 
  
}

.nav-list{
  display: flex;
  gap: 80px;
  padding: 10px;
  align-items: center;
  text-wrap: nowrap;
 
  
}
.gogo-icon{
  display: flex;
  
}

.nav-list ul{
  display: flex;
  gap: 80px;
  align-items: center;
  list-style: none;
 
  
}

.nav-list a {
  display: flex;
  text-decoration: none;
  color: #9287BC;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.13em;
 

}
.social-btns{
  display: flex;
  align-items: center;
  margin-left:210px

}

.social-btns a{
 display: flex;
 align-items: center;
 margin-right: 22px;
 border: 1px solid #ffffff;
 border-radius: 8px;
 padding:8px 10px;
 
}
.builder-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 30px;
  
  
}
.builder-container ul{
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  border-bottom: 4px solid #00000033;
 
}



.builder-container li {
  display: flex;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  align-items: center;
  margin: 0 58px 20px 0;
  color: #FFFFFF;
}

.builder-container li a{
  display: flex;
  text-decoration: none;

}
.builder-container li:nth-last-child(2){
  margin-right: 190px;
}

.builder-container li:last-of-type {
  display: flex;
  padding: 11px 16px;
  border-radius: 8px;
  background: #48425F;
  text-wrap: nowrap;
 

}

.logo-container {
  display: flex;
  color:#fff;
  font-size: 54px;
  align-items: center;
  margin-right: 8px;
}
.text-container{
  display: flex;
  align-items: center;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

// Main Container //

.column-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  gap: 80px;
  align-items: flex-start;
  padding: 22px;
  justify-content: center;
  box-sizing: border-box;


}

.left-column,
.right-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.right-column{
gap: 20px;

}

.left-column {
 gap:55px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows:minmax(0, 1fr);
  gap:15px;
  flex: 1;
  align-items: center;
  height: auto;
  

}
.hidden {
  opacity: 0;
}
.colorSlide,
.d-s-buttonContainer {
  margin: 0 auto;
  
}

.colorSlide {
  max-width: 800px;
}

.color{
  width:100%;
}

.selection {
  width: 177px;
  height: 177px;
  border-radius: 24px;
  background: #48425f;
  border: none;
}

  .selection:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #8D8BFF;
    box-shadow: 0px 0px 22.9px 0px #8D8BFF;
}

.selection:nth-last-child(-n+3){
  background: linear-gradient(180deg, #48425F 5%, rgba(72, 66, 95, 0) 91.5%);
  box-shadow: 0px 20px 25.2px 0px #0000000D;
}


.avatar-container {
  position: relative;
  width: 570px;
  height: 570px;
  border-radius: 35px;
  background-color: #FFD089;
  box-shadow: 0px 30px 24.5px 0px #0000000D;
  display: flex;
  justify-content: center;
  align-items: flex-end;
 
  
}


.d-s-buttonContainer {
  display: flex;
  gap: 20px;
}

.d-s-buttonContainer button{
  display: flex;
  background: #48425F;
  border: none;
  width: 175px;
  padding: 11px 16px;
  border-radius: 8px;
  
}

footer {
  background-color: #2B2739;
  color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 18px 24px;
  justify-content: center;
}
.footer-img{
  font-size: 20px; 
  padding: 0 6px;

 
}

footer p {
  margin: 0 auto;
  font-size: 12px;
  
}







/*
.gogo-builder{
  z-index: 2;
}

.gogo-hat {
	z-index: 10;
  top: -25px;
  animation: headBreathing 4s infinite;
}
.gogo-comp-holder {
	position: relative;
	width: 600px;
	height: 600px;
  top: 54px;
}

.avatar-only {
  position: relative;
	width: 600px;
	height: 600px;
}
.gogo-c {
	position: absolute;
}
.gogo-head {
	z-index: 5;
  top: -25px;
  animation: headBreathing 4s infinite;
}

.gogo-glasses {
  z-index: 11;
  top: -20px;
}

//*

// @keyframes headBreathing {
//   0%, 100% {
//       transform: translateY(0);
//   }
//   50% {
//       transform: translateY(-5px); /* Adjust as needed */
//   }
// }

//



.gogo-belt {
	z-index: 6;
	left: -10px;
	top: -12px;
}
.gogo-body {
	z-index: 3;
	right: 10px;
	top: 10px;
}
.flex {
	display: flex;
}
.gogo-controls {
	position: fixed;
	left: 0;
	height: 100%;
  z-index: 900;
}
.selected-part-controller {
	position: fixed;
	bottom: 80px;
	border-top: 1px solid #000;
	background: linear-gradient(180deg, #6139EB 0%, #7F45FA 100%);
	box-shadow: 0px 7px 20px 1px rgba(0, 0, 0, 0.25);
	width: 100%;
  padding: 20px;
  gap: 30px;
	button {
		position: relative;
		width: 180px;
		height: 180px;
    background-color: transparent;
    border: none;
    &:hover {
      cursor: pointer;
    }
	}
	.gogo-c {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
  .active-button {
    border-radius: 24px;
    border: 2px solid #6DB0FF;
    background: rgba(0, 0, 0, 0.20);
    box-shadow: 0px 0px 44px 0px rgba(48, 193, 255, 0.50);
  }
  .hat-options {
    .gogo-hat {
      top: 30px;
    }
    #gogo-helmet {
      left: 5px;
      top: 15px;
    }
    .gogo-bear-helmet {
      top: 7px;
      left: 7px;
    }
  }
  .body-options {
    .gogo-body {
      top: -40px;
    }
  }
  .belt-options {
    .gogo-belt {
      top: -50px;
    }
  }
}


.none-icon {
  position: absolute;
  top: 50%;
  display: block;
  margin-top: -35px;
  margin-left: auto;
  left: 0;
  right: 0;
  margin-right: auto;
}

/*
.color-picker {
	position: fixed;
	right: 0;
  height: 100%;
}

.color-picker-tool {
  background: #824AF6;
  border-left: 1px solid #000;
  height: 100%;
  padding: 8px;
}
*/
.part-selection {
	display: flex;
	flex-direction: column;
  gap: 20px;
	height: 100%;
	position: fixed;
	left: 0;
	border-right: 1px solid #000;
	background: #824AF6;
	box-shadow: 10px 0px 26px 0px rgba(0, 0, 0, 0.25);
	padding: 1.5em;
	button {
		filter: drop-shadow(0px 14px 17px rgba(0, 0, 0, 0.25));
		border-radius: 16px;
		background: linear-gradient(180deg, #B288FF 0%, #9C67FF 100%);
		width: 88px;
		height: 88px;
		border: none;
    &:hover {
      cursor: pointer;
    }
	}
	button.active-button {
		border-radius: 16px;
		border: 1px solid #5E26D3;
		background: #713DDC;
		box-shadow: 0px 6px 15px 0px rgba(87, 48, 174, 0.80) inset;
	}
}




// Lab Assets
.lab-asset {
  position: absolute;
}

.lab-asset__platform {
  z-index: 2;
  max-width: 1380px;
  bottom: -523px;
  left: -220px;
}


.lab-asset__tv  {
  max-width: 700px;
  width: 100%;
  left: 290px;
  z-index: 1;
  display: none;
  top: 100px;
}

.lab-asset__gen  {
  max-width: 662px;
  width: 100%;
  right: 210px;
  z-index: 1;
  display: none;
  top: 250px;
}

.lab-asset_panels {
  width: 100%;
  z-index: 0;
}

.btn {
  border-radius: 48px;
  background-color: #49E988;
  color: #000;
  border: none;
  padding: 6px 20px;
  font-weight: bold;
}


/*For screens smaller than 474px */
@media screen and (max-width: 474px) {
  header {
    width: 100%;
  }
}

/* For screens larger than 728px */
@media (min-width: 728px) {

}

/* For screens larger than 1024px */
@media (min-width: 1024px) {
  .lab-asset__tv {
    display: block;
  }
  .lab-asset__gen {
    display: block;
  }
}

/* For screens larger than 1230px */
@media (min-width: 1230px) {
  .lab-asset__tv {
    left: 0px;
  }
  .lab-asset__gen {
    right: 0px;
  }
}

@media (min-width: 1900px) {
  .gogo-comp-holder {
    top: 54px;
  }
}

// .scan-line {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   height: 5px; /* Adjust to the desired thickness of the scan line */
//   background: rgba(0, 221, 255, 0.6); /* Blue semi-transparent */
//   pointer-events: none; /* So it doesn't interfere with any interactive elements */
//   transform: translateY(-100%); /* Initially hide the scan line above the container */
//   animation: scan 2s linear infinite; /* 2 seconds for each scan, adjust as needed */
// }

// @keyframes scan {
//   0%, 100% {
//     transform: translateY(-10%);
//   }
//   50% {
//     transform: translateY(110%);
//   }
// }