@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #2B2739;
  height: 100%;
  font-family: 'Poppins', sans-serif;
 

}

// Styles for Header and Navbar //

header {
  display: flex;
  align-items: center;
  background-color: #242031;
  color: #9287BC;
  height: 108px;
  box-sizing: border-box;
  width: 100%;
 
  
 
}
.nav {
  display: flex;
  margin: 0 auto;
  padding: 25px;
  align-items: center;

  
}
.nav ul {
  list-style: none;
  
}

.nav-list{
  display: flex;
  align-items: center;

}
.nav .saved{
  display: none;
}

header h1 a{
  margin-right: 45px;
  display: flex;
  align-items: center;
}

.nav-list a {
  display: flex;
  text-decoration: none;
  color: #9287BC;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.13em;
  text-wrap: nowrap;

}


.nav-list li:not(.social-btn) {
  margin-right: 80px; 
}


.nav-list li.social-btn {
  margin-right: 20px;
  
}
.white-space{
  white-space: nowrap;
}


.nav-list li:nth-last-child(-n+2) {
  display: flex;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 8px;
  padding:10px;

}
.nav-list li:nth-last-child(3){
  margin-right: 385px;
}


.social-btns{
  display: flex;
}

/* Hamburger menu styles */
.hamburger-menu {
  display: none; 
  font-size: 24px;
  cursor: pointer;
  color: #9287BC;
  padding: 10px;
}



//BuilderDash Styles

.builder {
  display: flex;
  align-items: center;
  z-index: 2;
 
}
.builder .menu{
  display: flex;
  align-items: center;
  margin: 20px auto;
  justify-content: flex-start;
  border-bottom: 5px solid #00000033;
  padding: 0;
}


.builder ul{
  display: flex;
  align-items: center;
  margin: 20px auto;
  justify-content: flex-start;
  border-bottom: 5px solid #00000033;
  padding: 0; 
 
}

.builder li{
  list-style: none;
 
}

.builder li button{
  position: relative;
  display: flex;
  font-family: Poppins;
  font-size: 16px;
  margin:  20px 35px;
  font-weight: 500;
  line-height: 24px;
  align-items: center;
  border:none;
  background-color: transparent;
  color: #fff;
  transition: color 0.3s ease, background-color 0.3s ease;
  cursor: pointer;

}
 .builder li .save-btn {
  display: flex;
  border-radius: 8px;
  background-color:  #48425F;
  padding: 11px 16px;


}


.builder li:not(:last-child) button::after{
  content: '';
  display: block;
  width: 0;
  height: 3px; 
  background-color: #8D8BFF;
  position: absolute;
  bottom: -36px;
  left: 0;
  transition: width 0.5s ease; 
}


.builder li button:hover::after{
  width:115%;
}

.builder li:nth-last-child(2) {
  margin-right: 140px; 
  padding: 0;
}


.download-btn:hover,
.builder li .save-btn:hover,
.share-btn:hover{
  background-color: #6F6A84;
  transition: background-color 0.3s ease; 
  cursor: pointer;
}
 .download-btn, .share-btn {
  position: relative;
  z-index: 12; 
}


.logo-container {
  display: flex;
  color:#fff;
  font-size: 54px;
  align-items: center;
  margin-right: 10px;
 

}

.text-container{
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: white;
}


 
// Pages Body //

.column-container{
  display: flex;
  flex-direction: row;
  max-width:1280px;
  margin: 0 auto;
  gap:40px;
  padding: 30px;
  
 
  
}

.left-column,
.right-column {
  display: flex;
  flex-direction: column;
  align-items: center;
 
 
}
.right-column{
  gap:20px;
}

.left-column{
  gap: 40px;
}


.grid{
  height: 610px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  padding:  0 20px 20px;
  align-items: center;
  overflow-y: scroll;
  scrollbar-width: 4px;
  scrollbar-color: white #00000033;
 


}

.grid::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 24px;


}
.grid::-webkit-scrollbar {
  display: none;

}

.selected-part-controller {
  button{
  width: 177px;
  height: 177px;
  min-width:140px;
  border-radius: 24px;
  background: #48425f;
  border: none;
  cursor:pointer;
  svg{
   width: 100%;
   height: 100%;
   
  }
 }
}



.button:nth-last-child(-n+3){
  background: linear-gradient(180deg, #48425F 5%, rgba(72, 66, 95, 0) 91.5%);
  box-shadow: 0px 20px 25.2px 0px #0000000D;

}
.hue-picker{
  margin-right:120px;
}

.hue-horizontal{
  width:550px;
  margin: 0 auto;
  cursor: pointer;

 }
 .avatar-container {
  position: relative;
  width:610px;
  height: 610px;
  border-radius: 35px;
  background-color: #FFD089;
  box-shadow: 0px 30px 24.5px 0px #0000000D;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
  

}


.avatar-container{
 .gogo-c {
  position: absolute;
  width: 100%;
 
 }
}
 


.avatar-container
.avatar-svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.avatar-container .gogo-hat,
.avatar-container .gogo-cap,
.avatar-container .gogo-hat-hair,
.avatar-container .gogo-backwards-hat,
.avatar-container .gogo-body,
.avatar-container .gogo-glasses,
.avatar-container .gogo-glasses-white,
.avatar-container .gogo-hair,
.avatar-container .gogo-hair-face, 
.avatar-container .gogo-hair-black,
.avatar-container .gogo-scarf, 
.avatar-container .gogo-mask {
  position: absolute;
}

.avatar-container .gogo-hat {
  z-index: 11;
  top: -7px;
  left: 1px;
 
 }
 .avatar-container .gogo-cap{
  left: -1px;
  z-index: 11;
 }
 .avatar-container .gogo-hat-hair{
  z-index:11;
  left: 2px;
 }

 .avatar-container .gogo-backwards-hat {
  z-index: 11;

 }
 .avatar-container .gogo-body {
  z-index: 10;
 }
 
 .avatar-container .gogo-glasses{
  top:-4px;
  z-index: 11;
}
.avatar-container .gogo-glasses-white{
  top: 62px;
  left: 101px;
  z-index: 11;
}
.avatar-container .gogo-hair{
  z-index: 10;
  top:32px;

}
.avatar-container .gogo-hair-face {
  z-index:10;
  top: 12px;
}
.avatar-container .gogo-hair-black{
  z-index:10;
  left: 2px;

}
.avatar-container .gogo-scarf{
  z-index: 10;
  bottom: -3px;
}
.avatar-container .gogo-mask{
  z-index: 10;
  bottom: -3.2px;
}
 


.d-s-buttonContainer {
  display: flex;
  gap: 20px;
  align-items: center; 

}
.d-s-buttonContainer button{
  display: flex;
  background: #48425F;
  border: none;
  width: 175px;
  padding: 11px 16px;
  border-radius: 8px;
  position: relative; 
  z-index: 10; 
  
}

.IamTheFoot {
  background-color: #2B2739;
  color: #fff;
  width: 100%;
  padding: 22px 24px;
  text-align: center; 
  margin-top: auto; 
  box-sizing: border-box;
    
}
.IamTheFoot p{
  margin: 0;
  font-size: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
 
}
  
  .footer-img{
    font-size: 20px; 
    padding: 0 6px;
  
   
  }
  


footer p {
  margin: 0 auto;
  font-size: 12px;
  
}

.footer-img{
  font-size: 20px; 
  padding: 0 6px;

 
}

//Styles for Modal

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
 
}


.modal-content {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  text-align: center;
  z-index: 1001;
}


.modal-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-preview {
  max-width: 100%;
  height: auto;
  margin: 20px 0;

}

.modal-btns{
  margin:5px;
  padding:4px;
  cursor: pointer;
  background-color: #48425F;
  color: #fff;
}
.modal-btns:hover{
  background-color: #6F6A84;
  
}


//Temporary Alert Custom

.temporary-alert {
  position: fixed;
  top: 65px;
  right:125px;
  background-color: #fff;  
  color: #48425F; 
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  z-index: 1000; 
  font-size: 16px;
  font-weight: 500;
}



 //Styles for loading spinner

.loading-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

 
 /*
 .gogo-hat {
	z-index: 10;
  top: -25px;
  animation: headBreathing 4s infinite;
}
 .gogo-c {
  width: 100%;
  height: 100%;
  
}
.hat-options {
  .position-left{
    transform: scaleX(-1) rotate(10deg);
  }
  .gogo-hat {
    top: 30px;

  }
  #gogo-helmet {
    left: 5px;
    top: 15px;
  }
  .gogo-bear-helmet {
    top: 7px;
    left: 7px;
  }
}
.body-options {
  .gogo-body {
    top: -40px;
  }
}
.belt-options {
  .gogo-belt {
    top: -50px;
  }
}

/*



.gogo-builder{
  z-index: 2;
}

.gogo-hat {
	z-index: 10;
  top: -25px;
  animation: headBreathing 4s infinite;
}
.gogo-comp-holder {
	position: relative;
	width: 600px;
	height: 600px;
  top: 54px;
}

.gogo-c {
	position: absolute;
}
.gogo-head {
	z-index: 5;
  top: -25px;
  animation: headBreathing 4s infinite;
}

.gogo-glasses {
  z-index: 11;
  top: -20px;
}



// @keyframes headBreathing {
//   0%, 100% {
//       transform: translateY(0);
//   }
//   50% {
//       transform: translateY(-5px); /* Adjust as needed */
//   }
// }

//


/*
.gogo-belt {
	z-index: 6;
	left: -10px;
	top: -12px;
}
.gogo-body {
	z-index: 3;
	right: 10px;
	top: 10px;
}
.flex {
	display: flex;
}
.gogo-controls {
	position: fixed;
	left: 0;
	height: 100%;
  z-index: 900;
}
.selected-part-controller {
	position: fixed;
	bottom: 80px;
	border-top: 1px solid #000;
	background: linear-gradient(180deg, #6139EB 0%, #7F45FA 100%);
	box-shadow: 0px 7px 20px 1px rgba(0, 0, 0, 0.25);
	width: 100%;
  padding: 20px;
  gap: 30px;
	button {
		position: relative;
		width: 180px;
		height: 180px;
    background-color: transparent;
    border: none;
    &:hover {
      cursor: pointer;
    }
	}
	.gogo-c {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
  .active-button {
    border-radius: 24px;
    border: 2px solid #6DB0FF;
    background: rgba(0, 0, 0, 0.20);
    box-shadow: 0px 0px 44px 0px rgba(48, 193, 255, 0.50);
  }
  .hat-options {
    .gogo-hat {
      top: 30px;
    }
    #gogo-helmet {
      left: 5px;
      top: 15px;
    }
    .gogo-bear-helmet {
      top: 7px;
      left: 7px;
    }
  }
  .body-options {
    .gogo-body {
      top: -40px;
    }
  }
  .belt-options {
    .gogo-belt {
      top: -50px;
    }
  }
}


.none-icon {
  position: absolute;
  top: 50%;
  display: block;
  margin-top: -35px;
  margin-left: auto;
  left: 0;
  right: 0;
  margin-right: auto;
}

/*
.color-picker {
	position: fixed;
	right: 0;
  height: 100%;
}

.color-picker-tool {
  background: #824AF6;
  border-left: 1px solid #000;
  height: 100%;
  padding: 8px;
}
*/


/* Styles for iPhone 14 and iPhone 15 Pro Max */
@media only screen and (min-device-width: 430px) and (max-device-width: 430px) and (-webkit-device-pixel-ratio: 3){
  header{
    max-width: 430px;
    height:77px;

  }
  .nav-list li{
    display: none;
  }
    .nav li.social-btn  {
    display: none;
  }
  .nav h1 a{
    width: 106px;
    height:21px;
    align-content: center;
    margin: 0 auto;
    justify-content: center;
    box-sizing: border-box;
  
 }
  .column-container{
    flex-direction: column-reverse;
    max-width: 430px;
  }
  .avatar-container{
    max-width:292px;
    height: 292px;
  }

  .grid{
    grid-template-columns: repeat(2, 1fr);
  }
  .d-s-buttonContainer button {
    width: 178px;
    height: 46px;
  }
  .hue-picker{
    width: 100%;
    display: flex;
    margin-right: 0;

  }
  .hue-horizontal{
    width: 380px;
    
   
  }
}




@media (min-width: 600px) and (max-width: 768px) {
  header{
    height: 76.5px;
    width: 100%;
    display: flex;
  }
  
  .nav{
    position: relative;
    flex-direction: row-reverse;
    padding: 0 20px;
   
    

  }
  .nav-list li:nth-last-child(3){
    margin-right:75px;

  }
  

  .nav .hamburger-menu {
    display: block;
    position: absolute;
    cursor: pointer;
    left: -205px;
    top: -7px;
   
  }
   
  .nav-list {
   display: none;
  
  }
  
  .nav-list.show{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -227px;
    top: 61px;
    padding-bottom: 30px;
    background-color: #242031;
    max-width: 100%;
    z-index: 1100;
    
  }
  
  .nav-list li {
    margin: 15px 35px;
    padding: 5px;
  
  }
  .nav-list  a {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500; 
    
  }

  .nav-list a:hover {
    color: #9287BC; 
  }

  .nav .saved{
    display: block;
    position: absolute;
    top: 12px;
    left: 460px;
    
  }
 

  .nav-list li.social-btn{
    display: none;
  }

  .column-container{
    position: relative;
    max-width: 100%;
    flex-direction: column-reverse;
    justify-content: center;
    
   
  }

  .avatar-container{
    max-width:none;
    top:30px;
    width: 433px;
    height: 433px;
  }

  .right-column,
  .left-column{
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
    

  }
  .hue-horizontal{
    top: 28px;
  }
  .hue-picker{
    margin-right: 0;
    margin-bottom: 75px;
  
  }
  .d-s-buttonContainer button{
    position: relative;
    right: 80px;
  }
  
  .builder .menu {
    position: absolute;
    top: 730px; 
    left: 0;
    margin: 0 auto;
  
    
 }
 .builder .menu li{
  padding: 2px;
 }

 .builder li .save-btn {
  position: absolute;
  top: -642px;
  right: 52px;
 }

 .builder li:nth-last-child(2) {
  display: none;
 }
}